In [73]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
hop = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(hop)

In [74]:
hop_df = pd.read_csv(hop)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [75]:
hop_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [76]:
total_pur = hop_df["Purchase ID"].count()
total_pur

780

In [77]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Number of Players":[total_pur]})

summary_df

   Number of Players
0                780

In [78]:
# Calculate the number of unique authors in the DataFrame
itemname = len(hop_df["Item Name"].unique())
itemname

179

In [79]:
# The mean method averages the series
average = hop_df["Price"].mean()
average

3.0509871794871795

In [80]:
# The sum method adds every entry in the series
total = hop_df["Price"].sum()
total

2379.77

In [81]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Number of Unique Items": [itemname],
                           "Average Price": [average],
                           "Total Purchases":[total_pur],
                           "Total Revenue": [total]})

summary_df

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.050987              780        2379.77

In [82]:
# The value_counts method counts unique values in a column
gcount = hop_df["Gender"].value_counts()
gcount

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [83]:
malec = hop_df["Gender"].value_counts()["Male"]
malec

652

In [84]:
femalec = hop_df["Gender"].value_counts()["Female"]
femalec

113

In [85]:
otherc = hop_df["Gender"].value_counts()["Other / Non-Disclosed"]
otherc

15

In [86]:
summary_df = pd.DataFrame({"Total Male": [malec],
                           "Total Female": [femalec],
                           "Total Other/Non-Disclosed":[otherc],
                           "Total Players": [total_pur]})

summary_df

   Total Male  Total Female  Total Other/Non-Disclosed  Total Players
0         652           113                         15            780

In [91]:
# Create a new column that finds the Total Male Percentages
hop_df["Male Percentage"] = hop_df["Total Male"] / hop_df["Total Players"]

KeyError: 'Total Male'