In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
hop = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(hop)

In [101]:
total_pur = len(hop_df["SN"].unique())
total_pur

576

In [102]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Number of Players":[total_pur]})

summary_df

   Number of Players
0                576

In [118]:
total_pid = len(hop_df["Purchase ID"].value_counts())
total_pid

KeyError: 'Purchase ID'

In [119]:
# Calculate the number of unique authors in the DataFrame
itemname = len(hop_df["Item Name"].unique())
itemname

179

In [108]:
# The mean method averages the series
average = hop_df["Price"].mean()
average

3.0509871794871795

In [109]:
# The sum method adds every entry in the series
total = hop_df["Price"].sum()
total

2379.77

In [110]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Number of Unique Items": [itemname],
                           "Average Price": [average],
                           "Total Purchases":[total_pid],
                           "Total Revenue": [total]})

summary_df

NameError: name 'total_pid' is not defined

In [111]:
hop_df.drop_duplicates(subset=["SN","Gender"],keep = "last")

KeyError: Index(['Gender'], dtype='object')

In [112]:
gcount = len(ddf.value_counts())
gcount

NameError: name 'ddf' is not defined

In [113]:
malec =  hop_df["Gender"].value_counts()["Male"]
malec

KeyError: 'Gender'

In [29]:
femalec = hop_df["Gender"].value_counts()["Female"]
femalec

NameError: name 'hop_df' is not defined

In [117]:
otherc = hop_df["Gender"].value_counts()["Other / Non-Disclosed"]
otherc

KeyError: 'Gender'

In [31]:
summary_df = pd.DataFrame({"Total Male": [malec],
                           "Total Female": [femalec],
                           "Total Other/Non-Disclosed":[otherc],
                           "Total Players": [total_pur]})

summary_df

NameError: name 'malec' is not defined

In [32]:
summary_df2 = pd.DataFrame([{"Player Type": "Male", "Total Count": malec},
                            {"Player Type": "Female", "Total Count": femalec},
                            {"Player Type": "Other/Non-Disclosed", "Total Count":otherc}])

summary_df2

NameError: name 'malec' is not defined

In [33]:
total_players = summary_df2["Total Count"].sum()
total_players

NameError: name 'summary_df2' is not defined

In [34]:
# Create a new column that finds the Total Male Percentages
summary_df2["Percentage of Players"] = summary_df2["Total Count"] / total_players
summary_df2

NameError: name 'summary_df2' is not defined

In [35]:
# group by Team, get mean, min, and max value of Age for each value of Tea
totals_gender= hop_df.groupby("Gender").agg({"Price":["sum","mean","max","min"]})
totals_gender

NameError: name 'hop_df' is not defined

In [36]:
matp=4.99
matp

4.99

In [37]:
fatp=4.90
fatp

4.9

In [38]:
oatp=4.75
oatp

4.75

In [39]:
pur_cm=malec
pur_cm

NameError: name 'malec' is not defined

In [40]:
price_summ=1967.64
price_summ

1967.64

In [41]:
avgmp=price_summ/pur_cm
avgmp

NameError: name 'pur_cm' is not defined

In [42]:
pur_cf=femalec
pur_cf

NameError: name 'femalec' is not defined

In [43]:
price_sumf=361.94
price_sumf

361.94

In [44]:
avgfp=price_sumf/pur_cf
avgfp

NameError: name 'pur_cf' is not defined

In [45]:
pur_co=otherc
pur_co

NameError: name 'otherc' is not defined

In [46]:
price_sumo=50.19
price_sumo

50.19

In [116]:
avgop=price_sumo/pur_co
avgop

NameError: name 'pur_co' is not defined

In [115]:
summarybygender_df = pd.DataFrame([{"Gender": "Male", "Total Count": pur_cm,"Average Purchase Price":avgmp,"Total Purchase Value":price_summ,"Avg Total Purchase Per Person":matp},
                            {"Gender": "Female", "Total Count": pur_cf,"Average Purchase Price":avgfp,"Total Purchase Value":price_sumf,"Avg Total Purchase Per Person":fatp},
                            {"Gender": "Other/Non-Disclosed", "Total Count":pur_co,"Average Purchase Price":avgop,"Total Purchase Value":price_sumo,"Avg Total Purchase Per Person":oatp}])

summarybygender_df

NameError: name 'pur_cm' is not defined

In [49]:
# Read and display the CSV with Pandas
hop_df = purchase_data
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [50]:
# group by Team, get mean, min, and max value of Age for each value of Tea
totals_gender= hop_df.groupby("Gender").agg({"Age":["mean","max","min"]})
totals_gender

                             Age
                            mean max min
Gender
Female                 21.345133  40   7
Male                   22.917178  45   7
Other / Non-Disclosed  24.200000  38  15

In [51]:
# Figure out the minimum and maximum views for a TED Talk
print(hop_df["Age"].max())
print(hop_df["Age"].min())

45
7

In [52]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
bins = [9,10,15,20,24,25,30,35,40]

# Create the names for the five bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

In [53]:
# Slice the data and place it into bins
pd.cut(hop_df["Age"], bins, labels=group_labels).head()

0    15-19
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [54]:
# Place the data series into a new column inside of the DataFrame
hop_df["Age Group"] = pd.cut(hop_df["Age"], bins, labels=group_labels)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [55]:
# Create a GroupBy object based upon "View Group"
age_group = hop_df.groupby("Age Group")

# Find how many rows fall into each bin
c=(age_group["Age"].count())
print(c)

# Find how many rows fall into each bin
p=(age_group["Age"].count()/780)
print(p)

Age Group
<10        9
10-14     54
15-19    200
20-24    266
25-29     59
30-34     77
35-39     52
40+       33
Name: Age, dtype: int64
Age Group
<10      0.011538
10-14    0.069231
15-19    0.256410
20-24    0.341026
25-29    0.075641
30-34    0.098718
35-39    0.066667
40+      0.042308
Name: Age, dtype: float64

In [56]:
agedemo_df = pd.DataFrame({"Total Count":c,"Total Percentages":p*100})

agedemo_df

           Total Count  Total Percentages
Age Group
<10                  9           1.153846
10-14               54           6.923077
15-19              200          25.641026
20-24              266          34.102564
25-29               59           7.564103
30-34               77           9.871795
35-39               52           6.666667
40+                 33           4.230769

In [57]:
# Create a GroupBy object based upon "View Group"
age_group = hop_df.groupby("Age Group")

# Find how many rows fall into each bin
atp=(age_group["Age"].count())
print(atp)

# Get the average of each column within the GroupBy object
psum=age_group[["Price"]].sum()
print(psum)

# Get the average of each column within the GroupBy object
pavg=age_group[["Price"]].mean()
print(pavg)

Age Group
<10        9
10-14     54
15-19    200
20-24    266
25-29     59
30-34     77
35-39     52
40+       33
Name: Age, dtype: int64
            Price
Age Group
<10         31.83
10-14      156.60
15-19      621.56
20-24      799.74
25-29      181.90
30-34      221.42
35-39      155.71
40+        112.35
              Price
Age Group
<10        3.536667
10-14      2.900000
15-19      3.107800
20-24      3.006541
25-29      3.083051
30-34      2.875584
35-39      2.994423
40+        3.404545

In [58]:
# Create the bins in which Data will be held
# Bins are 0, 59.9, 69.9, 79.9, 89.9, 100.   
pbins = [0, 10, 15, 20, 25, 30,35,40,45]

# Create the names for the five bins
group_cat = ["<=10", "11-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

In [59]:
# Slice the data and place it into bins
pd.cut(hop_df["Age"], pbins, labels=group_cat).head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): ['<=10' < '11-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [60]:
# Place the data series into a new column inside of the DataFrame
hop_df["Age Group"] = pd.cut(hop_df["Age"], pbins, labels=group_cat)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [61]:
# Place the data series into a new column inside of the DataFrame
hop_df["Age Group"] = pd.cut(hop_df["Age"], pbins, labels=group_cat)
hop_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [62]:
# Create a GroupBy object based upon "View Group"
age_group = hop_df.groupby("Age Group")

# Find how many rows fall into each bin
a=(age_group["Age"].count())
print(a)

# Find how many rows fall into each bin
admean=(age_group["Price"].mean())
print(admean)

# Find how many rows fall into each bin
d=(age_group["Price"].sum())
print(d)

Age Group
<=10      32
11-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: Age, dtype: int64
Age Group
<=10     3.405000
11-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
40+      3.075714
Name: Price, dtype: float64
Age Group
<=10     108.96
11-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
30-34    155.71
35-39    112.35
40+       21.53
Name: Price, dtype: float64

In [63]:
agedemo_df = pd.DataFrame({"Total Count":a,"Average Total Price":admean,"Total Purchase Value":d})

agedemo_df

           Total Count  Average Total Price  Total Purchase Value
Age Group
<=10                32             3.405000                108.96
11-14               54             2.900000                156.60
15-19              200             3.107800                621.56
20-24              325             3.020431                981.64
25-29               77             2.875584                221.42
30-34               52             2.994423                155.71
35-39               33             3.404545                112.35
40+                  7             3.075714                 21.53

In [64]:
family_and_generosity_df = hop_df.sort_values(
    ["SN", "Price"], ascending=False)
family_and_generosity_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79,20-24
560,560,Zontibe81,21,Male,2,Verdict,2.48,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,<=10
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,<=10
...,...,...,...,...,...,...,...,...
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,30-34
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19

In [65]:
hop_df.sort_values(by=["SN"], inplace=True)
df = hop_df[hop_df["SN"].duplicated(keep=False)]
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
218,218,Aelastirin39,23,Male,76,Haunted Bronzed Bludgeon,3.15,20-24
52,52,Aelin32,20,Male,60,Wolf,3.54,15-19
87,87,Aelin32,20,Male,151,Severance,3.40,15-19
584,584,Aelin32,20,Male,115,Spectral Diamond Doomblade,2.04,15-19

In [66]:
df = hop_df.sort_values(
    ["SN"])

In [67]:
df["SN"].count()
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,30-34
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24
...,...,...,...,...,...,...,...,...
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,<=10
141,141,Zhisrisu83,10,Male,60,Wolf,3.54,<=10
560,560,Zontibe81,21,Male,2,Verdict,2.48,20-24
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24

In [68]:
df.groupby(['SN']).count()

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Group
SN
Adairialis76             1    1       1        1          1      1          1
Adastirin33              1    1       1        1          1      1          1
Aeda94                   1    1       1        1          1      1          1
Aela59                   1    1       1        1          1      1          1
Aelaria33                1    1       1        1          1      1          1
...                    ...  ...     ...      ...        ...    ...        ...
Yathecal82               3    3       3        3          3      3          3
Yathedeu43               2    2       2        2          2      2          2
Yoishirrala98            1    1       1        1          1      1          1
Zhisrisu83               2    2       2        2          2      2          2
Zontibe81                3    3       3        3          3      3          3

[576 rows x 7 columns]

In [91]:
df.groupby(["SN","Price"]).count()

                    Purchase ID  Age  Gender  Item ID  Item Name  Age Group
SN           Price
Adairialis76 2.28             1    1       1        1          1          1
Adastirin33  4.48             1    1       1        1          1          1
Aeda94       4.91             1    1       1        1          1          1
Aela59       4.32             1    1       1        1          1          1
Aelaria33    1.79             1    1       1        1          1          1
...                         ...  ...     ...      ...        ...        ...
Zhisrisu83   3.54             1    1       1        1          1          1
             4.35             1    1       1        1          1          1
Zontibe81    1.76             1    1       1        1          1          1
             2.48             1    1       1        1          1          1
             3.79             1    1       1        1          1          1

[779 rows x 6 columns]

In [154]:
tp = df.groupby(["Item ID", "Item Name"]).sum()["Price"]
tp

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [159]:
df.groupby(['SN'])['Price'].sum().sort_values(ascending=False).head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [70]:
sorted_df = df.sort_values(["Item ID"], ascending=False)
sorted_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
165,165,Lirtassa52,15,Male,183,Dragon's Greatsword,1.09,11-14
705,705,Aelidru27,22,Male,183,Dragon's Greatsword,1.09,20-24
618,618,Aisurdru79,29,Female,183,Dragon's Greatsword,1.09,25-29
256,256,Chamirra53,23,Male,182,Toothpick,4.03,20-24
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
...,...,...,...,...,...,...,...,...
251,251,Iasur80,22,Male,1,Crucifer,1.99,20-24
150,150,Inasti31,17,Male,0,Splinter,1.28,15-19
662,662,Mindilsa60,21,Male,0,Splinter,1.28,20-24
133,133,Phaena87,20,Male,0,Splinter,1.28,15-19
204,204,Chamimla85,16,Male,0,Splinter,1.28,15-19

In [71]:
total_id = hop_df["Item ID"].value_counts()
total_id

92     13
178    12
145     9
132     9
108     9
       ..
42      1
51      1
118     1
104     1
91      1
Name: Item ID, Length: 179, dtype: int64